@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(assets/font/Merriweather.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    margin: 0;
    font-family: 'Merriweather';
}

.snackbar-delete{
  background:#cc231e;
  color:white;
  width: 150px;
}

.snackbar-submit{
  background: green;
  color:white;
  width:150px;
}

.snackbar-ply{
  position:relative;
  bottom:40vh;  
  right: 20px;  
}

.snackbar-delete-denied{
  text-align:center !important;
}

.snack-ply-job-added{  
  background:#677891;
  color:white;
}

