<div *ngIf="errorMsgs" class="alert alert-block alert-danger"> 
  <ul class="m-0" [ngStyle]="{'padding-left':'20px'}"> 
    <li *ngFor="let warning of errorMsgs">
      {{warning}}
    </li> 
  </ul> 
</div>

<h4 class="mb-4 text-center">Upload Images</h4>
<form [formGroup]="folderUpForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input formControlName="title" class="form-input p-1 mb-2" placeholder="Title">        
  </div>
  <div class="form-group">
    <input formControlName="description" class="form-input p-1 mb-2" placeholder="Images Description">
  </div>
              
  <div class="form-group d-flex flex-column align-items-start">         
    <div class="uploadBtn btn btn-primary my-2">
      <span>Upload Folder(s)</span>
      <input type="file" directory webkitdirectory multiple class="uploadInput"
              [disabled]="progressVal===100" (change)="getImageFolder($event.target)"
      >
    </div>
    <small class="align-self-start">*supported image formats are .jpeg, .png and .bmp</small>
  </div>                    
  
  <button [disabled]="!title.valid || !fileTypeCheck || files.length===0 || progressVal>0" type="submit" class="btn btn-custom hover-shadow px-4 my-2">Submit</button>

  <p *ngIf="fileTypeCheck===false" class="form-text text-danger font-italic font-weight-bold mt-3 text-center">Your files include unsupported format.</p>                              
          
  <div class="d-flex w-100 align-items-center align-self-start mt-2">
    <div class="my-3 mr-3 font-weight-bold" *ngIf="0<progressVal && progressVal<100">Uploading...</div>
    <div class="my-2 mr-2" *ngIf = "progressVal>0">{{progressVal}}% complete</div>
    <ng-template [ngIf]="0<progressVal && progressVal<100">
      <mat-progress-bar class="mat-bar my-2 progressBar" [value]="progressVal">        
      </mat-progress-bar>
    </ng-template>        
    <div class="my-3" *ngIf="progressVal===100">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check2-circle" viewBox="0 0 16 16">
        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
      </svg>            
    </div>
    <div class="ml-5" *ngIf="progressVal==100 && !createdJobId">
      <a (click)="uploadMore()" class="uploadMore">Upload More</a>      
    </div>    
  </div>

  <!-- <div *ngIf="progressVal===100"  class="alert alert-success toastAlert mt-2 mb-0" role="alert">
    <div class="d-flex justify-content-between align-items-center">
      <span>Upload completed successfully</span>
      <span>              
        <a (click)="uploadMore()" class="uploadMore">
          Upload More
        </a>                            
      </span>
    </div>
  </div>               -->

  <ng-template [ngIf]="files && progressVal!==100">
    <ul class="mt-3">                        
      <li *ngFor="let item of fileNames" class="mb-2">{{item}}</li>            
    </ul> 

    <div class="mt-4" *ngIf="fileTypeCheck">          
      <p class="font-weight-bold" *ngIf="subDir.length>0; else oneDir">
        The following Root directorie(s), will be used as the Job name (total: 1):
      </p>
      <ng-template #oneDir>
        <p class="font-weight-bold">
          Root directorie(s), will be used as the Job and Image project name, (total: 1):
        </p>
      </ng-template>          
      <ul>
        <li class="mb-2">{{rootDir}}</li>            
      </ul>
    </div>
    
    <div class="mt-4" *ngIf="subDir.length>0">
      <p class="font-weight-bold">Sub directorie(s), will be used as Image project(s) name(s), (total: {{subDir.length}}):</p>
      <ul>
        <li *ngFor="let item of subDir" class="mb-2">{{item}}</li>            
      </ul>
    </div>
  </ng-template>                                            
</form>






