<div class="card col-md-4 form-area-lg shadow-lg mx-auto mt-150">
  <h4 class="text-light mb-3 text-center"><strong>Set New Password</strong></h4>
  <!-- <p class="text-light mb-4 text-center">Enter your email to get started</p> -->

  <form>
    <label class="label">Password</label>
    <div class="form-group">
      <input #password="ngModel" ngModel type="password" name="password"
             class="text-light form-input mb-2" placeholder="Password">
    </div>

    <label class="label">Retype Password</label>
    <div class="form-group">
      <input #re_password="ngModel" (change)="checkPassword(password,re_password)" ngModel type="password" name="re_password"
             class="text-light form-input mb-2" placeholder="Retype Password">
             <p *ngIf="alertMessage" class="alert-danger text-left">{{alertMessage}}</p>
    </div>
    

    <div *ngIf="errorMessage" class="alert alert-danger fade show text-center">
      <small>{{errorMessage}}</small>      
    </div>
    <div *ngIf="successMessage" class="alert alert-success show text-center">
      <small>{{successMessage}}</small>      
    </div>

    <button type="submit" [disabled]="buttonDisable" class="btn btn-custom btn-sm mb-2 w-100" 
    (click)="setNewPassword(password, re_password)">Submit</button>
  </form>
</div>