{% extends "digtrace/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <form id="post_form" method="post" action="" enctype="multipart/form-data">

        {% csrf_token %}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Upload Images</legend>
            {{ form|crispy }}
        </fieldset>

        {#    <input type="submit" name="submit" value="Upload_old" />#}


        {#</form>#}

        {#{% endblock content %}#}


        {#{% block sctipt_folder_upload  %}#}


        {#<form id="post_form"  method='POST' enctype="multipart/form-data">#}
        {#    {% csrf_token %}#}


        <div class="fileUpload btn btn-primary">
            <span>Upload Folder(s)</span>
            <input type="file" id="file_input" name="file_field" webkitdirectory directory multiple class="upload"/>
        </div>


        <ul id="listing_file"></ul>
        <p id='root_folder_number_txt'>
        </p>

        <ul id="listing_folder_root"></ul>

        <p id='sub_folder_number_txt'>
        </p>

        <ul id="listing_folder_sub"></ul>


        <input type="text" id="directories" name="directories" hidden/>


        <input type="submit"/>


        <script>
            HTMLInputElement.webkitdirectory = true;
            document.getElementById("file_input").addEventListener("change", function (event) {
                let output = document.getElementById("listing_file");
                let files = event.target.files;
                let all_root_folders = [];
                let all_sub_folders = [];

                for (let i = 0; i < files.length; i++) {
                    let item = document.createElement("li");
                    item.innerHTML = files[i].webkitRelativePath;
                    all_root_folders.push(files[i].webkitRelativePath.split("/")[0]);
                    if (files[i].webkitRelativePath.split("/").length > 2) {
                        all_sub_folders.push(files[i].webkitRelativePath.split("/")[1])
                    }
                    output.appendChild(item)
                }
                let root_folders = document.getElementById("listing_folder_root");
                let unique_root_folders = Array.from(new Set(all_root_folders));

                for (let i = 0; i < unique_root_folders.length; i++) {
                    let item = document.createElement("li");
                    item.innerHTML = unique_root_folders[i];
                    root_folders.appendChild(item)
                }

                let sub_folders = document.getElementById("listing_folder_sub");
                let unique_sub_folders = Array.from(new Set(all_sub_folders));
                for (let i = 0; i < unique_sub_folders.length; i++) {
                    let item = document.createElement("li");
                    item.innerHTML = unique_sub_folders[i];
                    sub_folders.appendChild(item)
                }

                if (unique_sub_folders.length > 0) {
                    let number_of_root_folders = document.getElementById("root_folder_number_txt");
                    number_of_root_folders.innerHTML = 'The following Root directorie(s), will be used as the Job name (total: ' + unique_root_folders.length.toString() + '):';

                    let number_of_sub_folders = document.getElementById("sub_folder_number_txt");
                    number_of_sub_folders.innerHTML = 'Sub directorie(s), will be used as Image project(s) name(s), (total: ' + unique_sub_folders.length.toString() + '):'
                } else {
                    let number_of_root_folders = document.getElementById("root_folder_number_txt");
                    number_of_root_folders.innerHTML = 'Root directorie(s), will be used as the Image project name, (total: ' + unique_root_folders.length.toString() + '):'


                }
            }, false);

            files = document.querySelector("#file_input").files;
            document.querySelector("#file_input").addEventListener("change", function () {
                files = document.querySelector("#file_input").files;
                var directories = {};
                var counter = 0;
                for (var file of files) {
                    Object.defineProperty(file, 'name', {
                        writable: true,
                        value: counter.toString() + '_' + file.name

                    });
                    counter = counter + 1


                }

                for (var file of files) {


                    directories[file.name] = file.webkitRelativePath
                }
                directories = JSON.stringify(directories);
                document.querySelector("#directories").value = directories
            });
        </script>

    </form>

{% endblock content %}

