{% extends "digtrace/base.html" %}
{% load crispy_forms_tags %}


{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <input type="submit" value="Upload">#}
{#    </form>#}
{% block content %}

    <form id="post_form" method="post" action="" enctype="multipart/form-data">

        {% csrf_token %}
        {#    {% for hidden in userImagesCollectionForm.hidden_fields %}#}
        {#        {{ hidden }}#}
        {#    {% endfor %}#}


        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Upload Images</legend>
            {{ form|crispy }}
        </fieldset>

        {#    {{ formset.management_form }}#}
        {#    {% for form in formset %}#}
        {#        {{ form|crispy  }}#}
        {#        #}
        {#          <table>#}
        {#        {{ formset|crispy   }}#}
        {#    </table>#}
        {##}
        {#<form action="#">#}
        {#  Select images: <input type="file" name="img" multiple>#}
        {#  <input type="submit">#}
        {#</form>#}
        {##}
        {##}

        <input type="submit" name="submit" value="Upload"/>
    </form>


{% endblock content %}
