{% extends "digtrace/base.html" %}
{% load static %}

&nbsp; {% if user.is_authenticated %}

    {% block content %}
        &nbsp
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="{% url 'digtrace-images-upload' %}">Upload: Create New Image Project</a>
        </div>
        &nbsp  &nbsp
        <div class="d-flex justify-content-center">
            <h3>Existing Image Projects: </h3>


        </div>
        <div class="d-flex justify-content-center">
            <p>{{ filter_text }} ( showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of
                total: {{ page_obj.paginator.count }})</p>
        </div>
        <div class="d-print-inline-flex">
            <form id="get_form" method="get" action=.>
                <div class="row">
                    <div class="col-sm">
                        <div class="btn-group">
                            <a class="btn btn-info dropdown-toggle btn-blog " data-toggle="dropdown" href="#"
                               id="dropdownMenu1" style="width:200px;"><span
                                    class="selection pull-left">Order By </span>
                                <span class="pull-right glyphiconglyphicon-chevron-down caret"
                                      style="float:right;margin-top:10px;"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" class="" data-value=1>Image Upload Date </a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% if filter_prev_old_first %}

                                <label class="btn btn-secondary">
                                    <input type="radio" name="time_order" value="RecentFirst" autocomplete="off"> Recent
                                    First<br>
                                </label>

                                <label class="btn btn-secondary active">

                                    <input type="radio" name="time_order" value="OldFirst" checked> Oldest First<br>
                                </label>
                            {% else %}
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="time_order" value="RecentFirst" autocomplete="off"
                                           checked> Recent First<br>
                                </label>

                                <label class="btn btn-secondary">

                                    <input type="radio" name="time_order" value="OldFirst" checked> Oldest First<br>
                                </label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="md-form active-cyan active-cyan-2 mb-3">
                        <input class="form-control" id="search_box" type="text" name="search_box"
                               placeholder="Search...">
                    </div>
                    <div class="col-sm">
                        <input class="btn btn-primary" type="submit" value="Reload"/>
                    </div>
                </div>
                <input type="text" id="filter" name="filter" hidden/>
                <script defer="defer" src="{% static 'digtrace/custom/filter.js' %}"></script>
            </form>

            <script defer="defer" src="{% static 'digtrace/custom/filter.js' %}"></script>
            <script>
                document.getElementById("dropdownMenu1").innerHTML = "{{ order_by_prev_field }}"
            </script>

            <script>
                document.getElementById("search_box").placeholder = "{{ search_prev_field }}"
            </script>
        </div>


        <ul class="list-group">
            {% for UserImagesCollection in page_obj %}
                <div class="rounded">
                    &nbsp
                    <li class="list-group-item"> &nbsp
                        <b>Uploaded: </b> {{ UserImagesCollection.date_uploaded }} | {% if UserImagesCollection.title %}
                            <b>Title: </b> {{ UserImagesCollection.title }} {% endif %}|
                        {% if UserImagesCollection.description %}<b>Description: </b>
                            {{ UserImagesCollection.description }} {% endif %}
                        <p></p>
                        <p>

                            <a class="btn btn-outline-primary"
                               href="{% url 'digtrace-images-detail' UserImagesCollection.id %}"> View Detail </a>
                            <a class="btn btn-outline-primary"
                               href="{% url 'digtrace-images-add' UserImagesCollection.id %}"> Add Images </a>
                            <a class="btn btn-outline-primary"
                               href="{% url 'digtrace-job_create-from_images' UserImagesCollection.id %}"> Create
                                Job </a>
                            <a class="btn btn-outline-primary"
                               href="{% url 'digtrace-job-files-images' UserImagesCollection.id %}"> Associated Model
                                Files </a>


                            <a class="btn btn-outline-danger"
                               href="{% url 'digtrace-images-detail-delete' UserImagesCollection.id %}"> Delete </a>
                            &nbsp;
                        </p>

                        <ul class="list-inline">
                            &nbsp;
                            {% for Image in UserImagesCollection.images_set.all|slice:":6" %}
                                <li class="list-inline-item">
                                    &nbsp

                                    {#                            <img class="mr-3" src={{ Image.image_thumbnail.url}} >#}
                                    {#                                     <a href="{% url 'digtrace-image-render'  Image.id%}">#}
                                    {##}
                                    {#                        <img  style="width:100%" src="{% url 'digtrace-image-thumbnail-render'  Image.id%}"  alt="preview">#}
                                    {##}
                                    {#                    </a>#}


                                    {#                              <a href={{ Image.image.url}}>#}
                                    <a href="{% url 'digtrace-image-render'  Image.id %}">
                                        <img class="lazyload" style="width:100%"
                                             src="{% url 'digtrace-image-thumbnail-render'  Image.id %}"
                                             data-sizes="auto"
                                             alt="preview" load="lazy">


                                        {#                    <img alt="Lights" style="width:100%" src={{ Image.image_thumbnail.url}} >#}


                                    </a>

                                </li>
                            {% endfor %}
                            {% if UserImagesCollection.images_set.all|length > 6 %}
                                <a href="{% url 'digtrace-images-detail' UserImagesCollection.id %}"> More </a>
                            {% endif %}

                        </ul>
                    </li>

                    {% empty %}
                    <li>No images yet</li>
                </div>
            {% endfor %}
        </ul>






        <div class="d-flex justify-content-end">

            <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            &nbsp;
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>

        {% endif %}
        &nbsp;
        <span class="current">
            <b> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </b>
        </span>
            &nbsp;
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            &nbsp;
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
            </div>
        </div>


    {% endblock content %}

{% endif %}